```

                                DATA HACKING DAYS

                                      *(((*.                                    
                            ,*     .%#########    #/                            
                         .(/      ,%#######%/      /##.                         
                       *//*      .%########*       ,%##%(                       
                    ./////       *#########%.      #######%,                    
                  //////(,       (###########%%#%%############                  
                ////////(.       (##############################                
                 ///////(.       (###########################%#                 
                   .(////*       /###########.    (%#######%,                   
                      *(/(.      ,%########*       *%###%/                      
                        ./(,      (#########       *%##.                        
                           ,/      (##########    .%*                           
                              ,      (%###%#*    *                              
                           
                                 Banco Carrefour

```

### OCI Data Science - Useful Tips
Everything stored in the <span style="background-color: #d5d8dc ">/home/datascience</span> folder is now stored on your block volume drive. The <span style="background-color: #d5d8dc ">ads-examples</span> folder has moved outside of your working space. Notebook examples are now accessible through a Launcher tab "Notebook Examples" button.
<details>
<summary><font size="2">1. Check for Public Internet Access</font></summary>

```python
import requests
response = requests.get("https://oracle.com")
assert response.status_code==200, "Internet connection failed"
```
</details>
<details>
<summary><font size="2">2. OCI Configuration and Key Files Set Up</font></summary><p>Follow the instructions in the getting-started notebook. That notebook is accessible via the "Getting Started" Launcher tab button.</p>
</details>
<details>
<summary><font size="2">3. Helpful Documentation </font></summary>
<ul><li><a href="https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm">Data Science Service Documentation</a></li>
<li><a href="https://docs.cloud.oracle.com/iaas/tools/ads-sdk/latest/index.html">ADS documentation</a></li>
</ul>
</details>
<details>
<summary><font size="2">4. Typical Cell Imports and Settings</font></summary>

```python
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import logging
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

import ads
from ads.dataset.factory import DatasetFactory
from ads.automl.provider import OracleAutoMLProvider
from ads.automl.driver import AutoML
from ads.evaluations.evaluator import ADSEvaluator
from ads.common.data import MLData
from ads.explanations.explainer import ADSExplainer
from ads.explanations.mlx_global_explainer import MLXGlobalExplainer
from ads.explanations.mlx_local_explainer import MLXLocalExplainer
from ads.catalog.model import ModelCatalog
from ads.common.model_artifact import ModelArtifact
```
</details>
<details>
<summary><font size="2">5. Useful Environment Variables</font></summary>

```python
import os
print(os.environ["NB_SESSION_COMPARTMENT_OCID"])
print(os.environ["PROJECT_OCID"])
print(os.environ["USER_OCID"])
print(os.environ["TENANCY_OCID"])
print(os.environ["NB_REGION"])
```
</details>

### Dicas para acesso ao banco de dados Oracle ADW

- Não execute SELECT * FROM sem clausula WHERE para filtrar os dados ou limitar a quantidade de registros
- No Oracle para limitar a quantidade de linhas que será retornada por uma QUERY utilize WHERE ROWNUM < \<numero_de_linhas>

  SELECT * FROM TABELA WHERE ROWNUM < 10

  nesse caso, será retornado somente 10 linhas da consulta (sem uma sequência lógica)
  
- Podemos utilizar também a clausula SAMPLE para conseguir uma amostra (aproximada) de registros
  
  SELECT * FROM TABELA SAMPLE(1) 
  
  Extrai aproximadamente 1% de

### Dica para instalação de pacotes Python (modulos)

- Abrir um terminal
- Executar o gerenciador de pacotes PIP
  
  pip install \<nome_do_pacote\>

### Setup ambiente e importações de módulos

In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import pandas as pd
import logging
import os
import cx_Oracle
#logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.INFO)
#from ads.dataset.factory import DatasetFactory
#from sqlalchemy import create_engine

In [2]:
# Add TNS_ADMIN to the environment
os.environ['TNS_ADMIN'] = "/home/datascience/ADB"
connection = cx_Oracle.connect('hackathon', 'bCfrCC0981267', 'adw_low')

### Tabelas disponíveis

#### Baixe e acesse a planilha "Dados_Hackathon.xlsx" para conhecer os campos e a volumetria de cada dataset

#### 1 - Visao Aquisicao: Chave é o CPF (criptografado)

In [3]:
TABELAS_AQUISICAO = pd.read_sql("SELECT table_name FROM ALL_tables WHERE UPPER(TABLE_NAME) LIKE '%AQUI%'", con=connection)

In [4]:
TABELAS_AQUISICAO

                               TABLE_NAME
0   EVE_MODELO_ENGAJAMENTO_AQUISICAO_HCKT
1  EVE_MODELO_PERFILPJ_ATC_AQUISICAO_HCKT
2              EVE_PUBLICO_AQUISICAO_HCKT
3           EVE_BUFFER_CCI_AQUISICAO_HCKT
4           EVE_BUFFER_ATC_AQUISICAO_HCKT

### Exemplo de leitura de um dataframe 'Atenção com o volume das tabelas!'

In [5]:
BUFFER_ATC = pd.read_sql('SELECT * FROM EVE_BUFFER_ATC_AQUISICAO_HCKT WHERE ROWNUM < 100', con=connection) 
BUFFER_ATC.head()

,CPF_CRIP,CPA_ID_CUPOM,ICPA_CD_ITEMCUPOM,MERC_TP_MERCDR,MERC_DS_DEPTOCCI,MERC_DS_SETORCCI,MERC_DS_GRUPO,MERC_DS_SUBGRUPO,MERC_DS_CLAS,MERC_DS_REDUZMERCDR,...,ICPA_VL_BONUS,ICPA_VL_BONUSATC,ICPA_QT_ITEMCOMPD,ICPA_SG_TIPOVENDA,ICPA_SG_EMBLG,ICPA_QT_EMBLG,ICPA_CD_FILIAL,FAL_NM_FLIAL,FAL_DS_DIVISREG,DATE_REF
0,7C489754975,6100320200527878,50698,ALIMENTO,PGC,PAS,RESFRIADOS,CURADOS,LINGUICA MISTA,LING.FINA MIST.PERDI,...,0.0,0.0,1,M,UND,1,78,VILA VELHA,DR-RJ/ES,20200527
1,7C489754975,6100320200527878,58935,ALIMENTO,PGC,LIQUIDA,BEBIDA,DESTILADOS,BATIDA/COQUETEL,COQUETEL BALACREAM,...,0.0,0.0,1,A,UND,1,78,VILA VELHA,DR-RJ/ES,20200527
2,7C489754975,6100320200527878,8327,ALIMENTO,PGC,PAS,PERECIVEIS LACTEOS,QUEIJOS,RALADO,QJO.RAL.PARM.VIGOR,...,0.0,0.0,3,A,PCT,1,78,VILA VELHA,DR-RJ/ES,20200527
3,7C489754975,6100320200527878,28159,ALIMENTO,PGC,LIQUIDA,BEBIDA,SUCO/REFRESCO,REFRESCO PTO BEBER ACIMA 500ML,TAMPICO,...,0.0,0.0,2,M,UND,1,78,VILA VELHA,DR-RJ/ES,20200527
4,7C489754975,6100320200527878,60076,ALIMENTO,PGC,LIQUIDA,BEBIDA,REFRIGERANTE,PET ATE 350ML,RF.FANTA LARANJA PET,...,0.0,0.0,12,M,UND,1,78,VILA VELHA,DR-RJ/ES,20200527

#### Dica: Você pode processar grande volume de dados, porém cuidado com o que traz para a memória do Pandas! Por exemplo, aqui fazemos uma contagem na tabela inteira de cupom. Isso é tranquilo, pois o retorno é uma única linha. Se você tentar trazer todo dataset para memória, dará erro de falta de memória!

In [6]:
BUFFER_ATC_CONTITEM = pd.read_sql('SELECT MERC_DS_GRUPO, COUNT(*) N FROM EVE_BUFFER_ATC_AQUISICAO_HCKT GROUP BY MERC_DS_GRUPO ORDER BY N DESC ', con=connection) 
BUFFER_ATC_CONTITEM

                         MERC_DS_GRUPO         N
0                             MATINAIS  32644184
1                               BASICO  24139810
2                  HORTIFRUTIGRANJEIRO  17305341
3                               BEBIDA  17147052
4                     INDUSTRIALIZADOS  13025563
5                           PERFUMARIA  12430625
6                              LIMPEZA  11724557
7                   PERECIVEIS LACTEOS  11457280
8                           BOMBONIERE  10551913
9                           CONGELADOS   9689280
10                          LAVANDERIA   7666387
11                                  UD   7590996
12                     HIGIENE PESSOAL   7416084
13                TEMPEROS/CONDIMENTOS   7015453
14                          RESFRIADOS   4432764
15                            PET SHOP    717083
16                            FARMACIA    705537
17  ARTIGOS CASA/HOBBY/LAZER/BRINQUEDO    673055
18                           DEFUMADOS    478997
19                           TABACARIA    431911
20                            SALGADOS    415565
21                              TEXTIL    333355
22                          AUTOMOTIVO    327676
23                           PAPELARIA    267402
24        UTILIDADE PARA CINE/FOTO/SOM    229266
25              LANCHONETE / CAFETERIA    160294
26                   ELETRO/ELETRONICO     31076
27                             SAZONAL      3426
28                  UTENSILIO REGIONAL      3229

#### Aqui um exemplo de como criar uma string mais elaborada para depois utilizar na consulta:

In [12]:
QUERY = '''
SELECT COUNT(*)
FROM(
SELECT A.*, 
       B.TKTATC_DS_SG_PFPJMISTO
FROM EVE_BUFFER_ATC_AQUISICAO_HCKT A INNER JOIN EVE_MODELO_PERFILPJ_ATC_AQUISICAO_HCKT B
ON A.CPF_CRIP = B.CPF_CRIP
WHERE A.MERC_DS_GRUPO IS NOT NULL
AND A.DATE_REF BETWEEN 20200101 AND 20200930
AND B.TBMD_CD_POSICAO = 202009) C
'''

In [13]:
QUERY_TESTE = pd.read_sql(QUERY, con=connection)

In [14]:
QUERY_TESTE

    COUNT(*)
0  111456575

#### Exemplo de Query a ser evitada, pois vai quebrar o ambiente devido ao volume de dados!!!

In [ ]:
BUFFER_ATC_MEM = pd.read_sql('SELECT * FROM EVE_BUFFER_ATC_AQUISICAO_HCKT where DATE_REF BETWEEN 20200101 AND 20200930 ', con=connection)

## 2 - Visao Manutenção: Três chaves - CPF, Numberx e Serno, ambos da Caccounts (Criptografados)

In [5]:
TABELAS_MANUTENCAO = pd.read_sql("SELECT table_name FROM ALL_tables WHERE UPPER(TABLE_NAME) LIKE '%MANU%'", con=connection)

In [6]:
TABELAS_MANUTENCAO

                                TABLE_NAME
0               EVE_SUMARIOCONTA_MANU_HCKT
1             EVE_AUTHORIZATIONS_MANU_HCKT
2                      EVE_BACEN_MANU_HCKT
3                 EVE_BUFFER_ATC_MANU_HCKT
4                     EVE_CHAVES_MANU_HCKT
5                EVE_CROSSCANAIS_MANU_HCKT
6                EVE_EMERGENCIAL_MANU_HCKT
7    EVE_MODELO_ACORDO_POSCANCEL_MANU_HCKT
8               EVE_MODELO_CHURN_MANU_HCKT
9         EVE_MODELO_ENGAJAMENTO_MANU_HCKT
10      EVE_MODELO_PERFILDIGITAL_MANU_HCKT
11  EVE_MODELO_PERFILPJ_ATACADAO_MANU_HCKT
12                     EVE_PROBE_MANU_HCKT
13                  EVE_PRODUTOS_MANU_HCKT
14                   EVE_SEGUROS_MANU_HCKT
15             EVE_POSSUISEGUROS_MANU_HCKT
16                   EVE_BUCKET2_MANU_HCKT
17                EVE_BUFFER_CCI_MANU_HCKT

#### Tabela HUB com as chaves e a BU:

In [8]:
HUB_CHAVES = pd.read_sql("SELECT * FROM EVE_CHAVES_MANU_HCKT WHERE ROWNUM < 100", con=connection)

In [9]:
HUB_CHAVES.head()

  NUMBERX_CRIPT CACCSERNO_CRIPT     CPF_CRIP CD_EMPRESA
0   58C52152A9E          A9AD5F  F787DAB536B          1
1   975A3CD6733          036AD3  224310B7CB8          1
2   C3DF462A360          F46A75  BB89F29A8CC          1
3   2B8E3D6F296          D79C86  C1D75AE10DE          1
4   49CE2A5D395          7812D1  17871BBE1D5          1

### Exemplo de query

In [3]:
pd.read_sql("SELECT * FROM EVE_BUCKET2_MANU_HCKT WHERE ROWNUM < 5", con=connection)

  NUMBERX_CRIPT  MES_REF FX_RISCO_SCR_PROBE
0   74B4619A7DD   202005        MEDIO RISCO
1   52AB72C55FF   202005        MEDIO RISCO
2   6ED0605DB77   202005        MEDIO RISCO
3   F7B95D6261F   202005   BAIXISSIMO RISCO

In [4]:
QUERY = """
SELECT 
* 
FROM EVE_BUCKET2_MANU_HCKT
WHERE NUMBERX_CRIPT 
IN (
    SELECT DISTINCT NUMBERX_CRIPT 
    FROM EVE_CHAVES_MANU_HCKT WHERE ROWNUM < 1000
) 


"""

In [5]:
TESTE = pd.read_sql(QUERY, con=connection)

In [6]:
TESTE.head()

  NUMBERX_CRIPT  MES_REF FX_RISCO_SCR_PROBE
0   773FE9F8BD7   202005        MEDIO RISCO
1   0270165C138   202005        BAIXO RISCO
2   44A3938DC73   202005        MEDIO RISCO
3   8EFDA31CE8C   202005         ALTO RISCO
4   389F91072BC   202005        BAIXO RISCO